*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}
ul {
   float: right;
   list-style-type: none;
   margin-top: 30px;
   min-height: 0;
   margin-right: 40px;
   font-size: 16px;
}

ul li{
   display: inline-block;
}

ul li a{
   text-decoration: none;
   color:#ffffff;
   padding: 5px 20px;
   border: 1px solid transparent;
   transition: 0.5 ease;
}

ul li a:hover{
   background-color: #bcab9a;
   color: #fffefe;
}

ul li.active a{
   background-color: #bcab9a;
   color: #ffffff;
}

.logo img{
   float: left;
   width: 80px;
   height: auto;
}

.main{
   max-width: 1200px;
   margin: auto;
}

.sub-menu{
   display: none;
   top: 6%;
   position: relative;
}

.sub-menu ul{
   position: absolute;
}

.main ul li:hover .sub-menu{
   display: block;
   position: absolute;
   background-color: #ffffff;
   margin-top: 12px;
   margin-left: -8px;
}

.main ul li:hover .sub-menu ul{
   display: block;
   margin: 6px;
}

.main ul li:hover .sub-menu ul li {
   width: 75px;
   padding: 5px;
   border-bottom: 1px #ffffff;
   background: transparent;
   transition: 0.4 ease;
   text-align: left;
   border-radius: 0px;
}

img{
    width: 15px;
    height: 15;
}
.about {
    width: 100%;
    height: 40vh;
    padding: 100px 0px;
    background-color: #000000;
} 
.about img {
    height: auto;
    width: 430px;
}
.about-text {
    width: 550px;
}
.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h3 {
    color:#97867c;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text p {
    color:#ffffff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

body{
    background: #8a786d;;
 }

section{
   position: relative;
}

.about-section{
   color: #000000;
   background: #8a786d;
   padding: 35px 200px;
   transition: 0.3s ease;
}

.about-section h3 {
   color:#5d4232;
   font-size: 55px;
   text-transform: capitalize;
   margin-bottom: 20px;
}
.about-section p {
   color:#000000;
   letter-spacing: 1px;
   line-height: 28px;
   font-size: 18px;
   margin-bottom: 45px;
}

button{
   width: 100px;
   color: #ffffff;
   font-size: 12px;
   padding: 12px 0;
   background: #796557;
   border: 0;
   border-radius: 20px;
   outline: none;
   margin-top: 30px;
}
.hero-btn{
   background: #614f45 ;
   color: #201f1e;
   text-decoration: none;
   border: 2px solid transparent;
   font-weight: bold;
   padding: 13px 30px;
   border-radius: 30px;
   transition: .4s;
   position: absolute;
   bottom: 5px;
   right:1200px;
}
.hero-btn:hover{
   background: transparent;
   border: 2px solid #614f45 ;
   cursor: pointer;
}